@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Manrope", sans-serif;

  font-family: var(--font-body);

  --color-primary: #D3E97A;
  --color-secondary: #1F2937;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-text{
  font-family: "Bebas Neue", sans-serif;
}